# Python
venv/
__pycache__/
*.pyc
*.sqlite3

# Django media & static
media/
staticfiles/

# Environment files
.env

# Node
node_modules/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
